<div class="container">
  <div class="row">
    <div class="col">
      <% if (msg.length !==0) { %>
      <div class="alert alert-success col-md-6" role="alert"><%= msg %></div>
      <% } %>

      <h1 class="position-absolute bottom-50 start-50">Welcome to Teamworks</h1>
      <h3 class="position-absolute top-50 start-50">All you need is friend</h3>
    </div>
  </div>
</div>
