<!-- As a link -->
<nav class="navbar navbar-dark bg-warning w-50 p-3 mb-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
    </div>
  </nav>
  
  <!-- As a link -->
  <nav class="navbar navbar-dark bg-success w-50 p-3 mb-2">
      <div class="container-fluid">
        <a class="navbar-brand" href="/signUp">Sign Up</a>
      </div>
    </nav>

  <!-- As a heading -->
  <nav class="navbar navbar-light bg-primary w-50 p-3 mb-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="/logIn">Login</a>
    </div>
  </nav>
  